<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="base" params="package mesh_path">
        <link name="base_link">
            <xacro:base_visual path="$(find ${package})/${mesh_path}"/>
            <inertial>
                <origin xyz="${BASE_COM}"/>
                <mass value="${BASE_M}"/>
                <inertia 
                  ixx="${BASE_Ixx}"
                  ixy="${BASE_Ixy}"
                  ixz="${BASE_Ixz}"
                  iyy="${BASE_Iyy}"
                  iyz="${BASE_Iyz}"
                  izz="${BASE_Izz}" 
                />
            </inertial>
            <collision>
                <geometry>
                    <box size="${BASE_LENGTH} ${BASE_WIDTH} ${BASE_HEIGHT}"/>
                </geometry>
            </collision>   
        </link>
        <xacro:base_offset/>
    </xacro:macro>

</robot>
